<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<div>
  <p>Polls this user is in:</p>
  <ul>
    <% @user.polls.each do |poll| %>
      <li><a href="/polls/<%= poll.id %>"><%= poll.title %></a></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
